.App {
  font-family: sans-serif;
  text-align: center;
}

/* Better Motherfucking Website */
body {
  margin: 40px auto;
  max-width: 850px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0 10px;
  background-color: #EEEEEE;
}

h1,h2,h3 {
  line-height: 1.2;
}
